#RFP-span-id{
    background-color: #004C4C;
    color:white;
    padding: 0 5px;
    border-radius: 10px;
}
.st-emotion-cache-1gulkj5{
    background-color: #E5EDED;
    border-radius: 20px;
    border: 3px dashed #004C4C;
    height:20vh;
    
}

.st-emotion-cache-ocsh0s.em9zgd02{
    background-color: #004C4C;
    color: white;
}